/*Regular HTML syntax*/
html,
body {
  font-size: 0.625rem;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.whole-body {
  display: none;
}

/*Classes*/

/*Letter stlyes*/
/*Move the image a bit higher*/
.loader-wrapper img {
  width: 65px;
}

.letter2 {
  margin-bottom: 10px;
  margin-left: -10px;
}

.state-before-load {
  display: none;
}

/*Place the preloader in the middle of the page*/
.loader-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
  z-index: 9999;
}

/*Preloader classes, ID's*/

/*-----------------------------------------------------End of loader */

/*Underneath the page lay the media queries*/

/*Mobile*/
@media only screen and (max-width: 600px) {
}

/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1320px) {
}
