/*Regular HTML syntax*/
/*Font that is being used*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  width: 100%;
  margin: 0;
}

body {
  font-size: 0.625rem;
  margin: 0;
  color: white;
  width: 100%;
  background-color: black;
  font-family: "Bebas Neue", sans-serif;
}
/*Prevent from scrolling when page is not loaded*/
.stop-scroll {
  overflow: hidden;
  height: 100%;
}

/*Letter stlyes*/

/*Move the image a bit higher*/
.loader-wrapper img {
  width: 65px;
  z-index: 9999;
}

/*Positioning the loader*/
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.letter2 {
  margin-bottom: 10px;
  margin-left: -10px;
}

/*Place the preloader in the middle of the page*/
.loader-wrapper .loader-section {
  position: fixed;
  background-color: white;
  top: 0;
  height: 100%;
  justify-content: center;
  width: 50%;
  z-index: 9998;
  border-style: none;
  border-width: 0;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.loader-wrapper .loader-section.section-right {
  right: 0;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}

/*Everything that is gonna happen when the page is loaded and content can be seen*/
/*For the slides to slide to the side, when our page is loaded*/
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.3s 0.3s ease-out;
}

.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.3s 0.3s ease-out;
}

/*To hide the display*/
.loaded .loader-wrapper {
  visibility: hidden;
}

/*For the loader to dissapear*/
.loaded #loader {
  opacity: 100;
  transition: all 0.3s ease-out;
}
/*****************************************************************/
/*HERE IS THE NAV BAR*/
.nav-placement {
  height: 100%;
}

.menu_logo,
.menu_items-link {
  padding: 35px 40px;
}

.menu_items-link a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.menu_items-link:active a {
  text-decoration: underline;
}

.menu_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}

.menu_items {
  display: flex;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  z-index: 999;
}

/******************************************************/

/*******************************************BODY*****************************************************/

.wrapper {
  overflow-x: hidden;
}

.container-head {
  margin-top: 250px;
  margin-left: 200px;
  display: flex;
}

.container-head img {
  max-width: 100%;
  max-height: 100%;
}

.container_item {
  position: relative;
  width: 100%;
  height: 350px;
}

.container_item-head h1 {
  position: relative;
  bottom: -40px;
  max-width: 100%;
  height: 360px;
  font-size: 7rem;
}

/*Container_name animation to fade in the text*/
.container_name {
  animation: reveal 2s cubic-bezier(0.3, 0.63, 0.14, 0.98) 1.1s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0%;
  }
  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

/***************************/
/*Underneath the page lay the media queries*/

/*Mobile*/
@media only screen and (max-width: 479px) {
  .loader-wrapper img {
    width: 50px;
    z-index: 9999;
  }

  /***********************HERE IS THE NAV**************************/
  .menu_items {
    justify-content: center;
  }

  .menu_logo {
    justify-content: center;
    margin: 0 auto;
  }

  .menu_items-link {
    padding: 25px;
  }

  .menu_logo {
    padding: 40px 25px 40px 40px;
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
  }

  /********************************NAV ENDS**************************************/

  /***********************************BODY*****************************************/
  .container-head {
    margin-top: 350px;
    margin-left: 50px;
    z-index: -1;
  }

  .container-head img {
    position: relative;
    bottom: 450px;
    left: 30%;
    z-index: -1;
  }

  .container_name {
    z-index: 1;
    margin-top: 5.5rem;
  }

  #container-image {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .container_item-head h1 {
    position: relative;
    bottom: -40px;
    max-width: 100%;
    height: 360px;
    font-size: 2rem;
  }

  /*Body introduction part*/

  .container-body-upper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    line-height: 1.2;
    font-size: 1.3rem;
  }

  .container-body-head {
    margin: 0 auto;
    margin-top: 200px;
    font-size: 1rem;
  }

  .container-content-1 {
    margin-top: 4rem;
    margin-left: 10px;
    width: 100%;
    max-width: 100%;
  }
  .container-content-2 {
    width: 100%;
    max-width: 100%;
    margin-left: 10px;
  }

  .container-content-3 {
    margin-top: 4rem;
    width: 100%;
    max-width: 100%;
  }

  .container-content-middle {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .container-content-right {
    float: right;
    margin-top: 4rem;
    max-width: 60%;
    margin-right: 1.5rem;
    text-align: right;
  }

  .container-content-left {
    text-align: left;
    max-width: 60%;
    float: left;
    margin-left: 1.5rem;
  }

  .container-content-button {
    margin: 2rem auto;
  }

  /*Button style*/
  .close,
  .close-1 {
    text-decoration: none;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 2rem 2rem;
    cursor: pointer;
    width: 100px;
    outline: none;
    overflow: none;
    margin-top: 15px;
  }

  .close a {
    color: black;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
  }

  .close-1 a {
    color: black;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
  }

  /*End of body introduction part*/

  /*Start of body main*/
  .container-body-main,
  .container-body-end {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    line-height: 1.2;
  }

  /*Container head styles*/
  .container-body-main-head,
  .container-body-end-head {
    font-size: 1rem;
    margin: 4rem auto;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    opacity: 0;
    width: 100%;
    max-width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(30px); /*Gsap animation for scrolling */
    transition: all 1s ease;
  }

  .active {
    opacity: 1;
    transform: translateY(0);
  }

  .project-content img {
    width: 100%;
    max-width: 90%;
    max-height: 10rem;
    object-fit: cover; /*Make the image to cover size*/
  }

  .project-content {
    text-align: center;
  }

  .project-head {
    text-align: center;
  }

  /*End of body main*/

  /*Start of skills section*/

  /*End of skills section*/

  /************************************BODY END***********************************/
}

/*Tablet*/
@media only screen and (min-width: 479px) and (max-width: 1320px) {
}
